.titolo-h1{
    color: yellow;
<<<<<<< HEAD
}

body {
    background-image: url(img/majonotabitabi.jpg)
}
=======
    font-size: 20px;
    text-shadow: rgb(60, 60, 179) 1px 0 10px;
}
>>>>>>> 757e79b06eb41df2588c0baa02b1bd92b8f14962
