.titolo-h1{
    background-image: linear-gradient(to right, violet, indigo, blue, green, yellow, orange, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

body {
    background-image: url(img/bg.png);
    background-size:cover;
}

p {
    margin: 2em;
    background-color: #FFFFFFCC;
    border-radius: 1em;
    padding: 2em;
}
